body{
    font-size: 16px;
    line-height: 1.45;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color:#4682B4;
    width: 75%;
    align-content: center;
    margin: auto;
}


h1, h2, h3{
    background-color: #696969;
    color: aliceblue;
    text-align: center;
    max-width: 75%;
    text-shadow: 2px 2px #4682B4;
}


p{
    max-width: 55%;
    font-size: 14px;
    color: white;
    
    
}

a{
    color: #000000;
    text-decoration: none;
    
a:hover {
     color:#ffffff; 

     cursor:pointer;  
}
